/*-- REGLAS GENERALES */
@import "css/colors.scss";
@import "css/mixins.scss";

* {
  font-family: "Mulish", sans-serif;
  padding: 0;
  margin: 0;
}

.fade-in-fwd {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* --TITULOS */

.titulo {
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 30px;

  img {
    width: 50%;
    height: 15rem;
    -webkit-animation: bounce-in-top 1.7s 1s both;
    animation: bounce-in-top 1.7s 1s both;
  }
}

/* --BARRA DE NAVEGACION */

.heartbeat:hover {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}
/* --SLIDE CENTRAL */

.main-slide {
  margin-top: 3rem;
}

/* --LOGOS REPRESENTANTES OFICIALES */

.repreOficiales {
  margin-top: 5rem;

  .img-fluid .ofertas {
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
}
/*--SECCION DE OFERTAS */

.ofertas {
  margin-top: 5rem;
  text-align: center;
  border-style: ridge;
  border-radius: 1rem;
  border-color: $canbir;
  border-width: 1rem;
  font-weight: bolder;
}

.tope {
  margin-top: 3rem;
  text-align: center;
}

/* --FOOTER */

footer {
  background-color: $canbir;
  text-align: center;
  margin-top: 2rem;
}

.footer .redes img {
  margin: 1rem;
  width: 40px;
  height: 40px;
}

.row-cols-1 {
  text-align: center;
}

/* --PRODUCTOS PAGE*/

.karikal {
  margin-top: 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  overflow: hidden;
}

.column {
  flex: 33%;
  padding: 0 4px;
  overflow: hidden;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.ver-mas img {
  width: 1rem;
  height: 1rem;
}

/* --SERVICIOS PAGE*/

.cards {
  text-align: center;
  margin-top: 5rem;
}

.cols-4 img {
  width: 25rem;
  height: 20rem;
}

.btn-primary:hover {
  background-color: $canbir;
}

/* --QUIENES SOMOS PAGE*/

.titulo1 {
  text-align: center;
}

.titulo1__texto {
  @include titulo-grande(center, bolder, $canbir, 3rem);
}

.titulo1__img {
  width: 35rem;
}

.ficha {
  margin-top: 5rem;
  font-size: 20px;
  border: solid;
  border-radius: 1rem;
  border-width: 5px;
  padding: 2rem;
  border-color: #96222b;
  background-color: #96222b50;
  text-align: center;
}

.ficha__texto {
  @include texto-grande(justify, 1rem);
  margin-top: 2rem;
}

.ficha__img {
  width: 35rem;
}

.obras__texto {
  margin-top: 2rem;
  font-size: xx-large;
}

.obras__img {
  width: 25rem;
}

.focus-in-expand-fwd {
  -webkit-animation: focus-in-expand-fwd 0.8s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* --FAQ PAGE*/

.accordion-button {
  background-color: #96222b;
  color: aliceblue;
}

.accordion {
  margin-top: 5rem;
}

/* --CONTACTO PAGE*/

.titulo-contacto {
  margin-top: 3rem;
  text-align: center;
  width: 100%;
  font-weight: bolder;
  color: $canbir;
}

.main-img {
  align-content: center;
  justify-content: center;
  justify-self: center;
  img {
    height: 25rem;
  }
}

.main-form {
  text-align: center;
  font-weight: bolder;
  color: $canbir;

  .col-8 {
    margin: auto;
  }
}

.buttons {
  margin-top: 2rem;
  text-align: center;
  .send {
    background-color: $canbir;
    border-color: black;
  }
}

.buttons .send:hover {
  background-color: black;
}

.map-responsive {
  margin: 0 auto;

  overflow: hidden;

  padding-bottom: 20rem;

  position: relative;

  height: 0;

  margin-top: 2rem;

  iframe {
    top: 0;

    height: 30rem;

    width: 100%;
  }
}

.contact-info {
  margin-top: 5rem;
  font-weight: bolder;
  text-align: center;

  img {
    width: 15rem;
    height: 15rem;
  }
}

/* --KEYFRAMES */

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes fontsize {
  from {
    font-size: 100%;
  }

  to {
    font-size: 110%;
  }
}

/* ----------------------------------------------
   * Generated by Animista on 2021-6-30 20:0:0
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

/**
   * ----------------------------------------
   * animation slide-bck-bottom
   * ----------------------------------------
   */
@-webkit-keyframes slide-bck-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(-400px) translateY(200px);
    transform: translateZ(-400px) translateY(200px);
  }
}
@keyframes slide-bck-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(-400px) translateY(200px);
    transform: translateZ(-400px) translateY(200px);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-8-11 20:7:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-8-16 20:25:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
